@media screen and (min-width: 414px){
    body{
        max-width: 100%;
        height: 100vh;
        background-image: url('../img/morning.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .generate--quotes{
        max-width: 40%;
        display: flex;
        color: white;   
        margin-bottom: 10rem;
    
    }
    .generate--quotes > *{
        flex: 1.5 .5;
    }
    .quote{
        margin-right: 1rem;
    }
    .quote p{
        max-width: 100%;
        text-shadow: 0vw 0vw .85vw rgba(100, 100, 100, .4);
    }.quote h5{
        font-weight: 700;
        text-shadow: 0vw 0vw .85vw rgba(100, 100, 100, .4);
    }
    .bi-arrow-repeat{
        max-width: 5%;
        cursor: pointer;
    }
    .infos--button{
        position: absolute;
        right: 50rem;
    }
    .additional--infos{
        background-color: rgba(211, 211, 211, .85);
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 2rem 3rem 2rem 3rem;
        margin-top: 2rem;
        align-content: center;
        display: none;
    }
    .additional--infos h5{
        opacity: .8;
    }
    .additional--infos h1{
        font-weight: 700;
    }
    .left--infos, .right--infos{
        display: flex;
        flex-direction: column;
        // align-items: center;
    }
    .right--infos{
        padding-left: 7rem;
        border-left: .2em solid rgba(0, 0, 0, .1);
    }
    .left--infos >*, .right--infos>*{
        margin-bottom: 2rem;
    }
    
 
 
}